<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://imgcld.yatra.com/ytimages/image/upload/v1452674568/Varkala_Beach_1212.jpg" height="560" width="600" class="d-block w-100" alt=" stockspics">
    </div>
    <div class="carousel-item">
      <img src="https://images.unsplash.com/photo-1609828913552-f9138ed9e42d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8a2VyYWxhJTIwdG91cmlzbXxlbnwwfHwwfHw%3D&w=1000&q=80" height="560" width="600" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.wallpapersafari.com/34/44/AK3RHL.jpg" height="560" width="600"  class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">

<div id="about" class="container">
    <figure class="text-center">
      <blockquote class="blockquote">
        <br>
        <p><h2> God's Own Country</h2>
      </blockquote>
    </figure>
        <p class="text-center">Kerala has a long coastline along the Arabian Sea, which makes it home to some of the most beautiful beaches in the country, including Kovalam, Varkala, and Cherai. The state is also known for its serene backwaters, which are a network of interconnected canals, lagoons, and lakes that offer a tranquil and picturesque experience.



        </p>
  </div>