<div class="container" id="foot">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2049 Kerala Tourism</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li><a href="https://twitter.com/i/flow/login?input_flow_data=%7B%22requested_variant%22%3A%22eyJsYW5nIjoiZW4ifQ%3D%3D%22%7D"><img width="30px" height="30px" src="https://png2.cleanpng.com/sh/5b0a7c4f4b7750f710dd8c28e208325b/L0KzQYi4UsE3N2c3fJGAYUO4RbWBgcdnbGk8T5C9NEa0RoaBWcE2OWQ5TKgCOUS4QoSATwBvbz==/5a355d8a7fd877.4461658915134467945237.png"></a></li>
      <li><a href="https://www.facebook.com/login/"></a><img width="30px" height="30px" src="https://www.freepnglogos.com/uploads/facebook-logo-icon/facebook-logo-icon-facebook-logo-png-transparent-svg-vector-bie-supply-16.png"></li>
      <li><a href="https://accounts.google.com/ServiceLogin?elo=1"><img width="30px" height="30px" src="https://www.freepnglogos.com/uploads/google-logo-png/google-logo-png-suite-everything-you-need-know-about-google-newest-0.png"></a></li>
    </ul>
  </footer>
</div>
